<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Geburtstags-Liste</title>
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <script src="/calender-script.js" defer></script>
</head>
<body>
<div class="wrapper">
    <header>
        <p class="current-date"></p>
        <div class="icons">
            <span id="prev" class="material-symbols-rounded">chevron_left</span>
            <span id="next" class="material-symbols-rounded">chevron_right</span>
        </div>
    </header>
    <div class="calendar">
        <ul class="weeks">
            <li>So</li>
            <li>Mo</li>
            <li>Di</li>
            <li>Mi</li>
            <li>Do</li>
            <li>Fr</li>
            <li>Sa</li>
        </ul>
        <ul class="days" onclick="dayOnClick(event)"></ul>
    </div>
</div>

<form id="birthdayForm" class="popup-content" action="/newGeburtstag" method="POST">
    <span class="close">&times;</span>
    <p>Geburtstagskind hinzufügen:</p>
    <input type="date" id="dateInput" name="dateInput" required>
    <input type="text" id="nameInput" name="nameInput" placeholder="Name" required>
    <button type="submit" id="submitBtn">Submit</button>
    <p id="errorMsg" class="error-message"></p>
</form>


</body>
</html>